
Offline01/Missionaries-and-Cannibals/\.idea/codeStyles/

Offline01/Missionaries-and-Cannibals/\.idea/

Offline01/Missionaries-and-Cannibals/__pycache__/

Offline01/Missionaries-and-Cannibals/venv/Lib/site-packages/

Offline01/Missionaries-and-Cannibals/venv/Lib/tcl8\.6/

Offline01/Missionaries-and-Cannibals/venv/Scripts/

Offline01/Missionaries-and-Cannibals/venv/

Offline01/\.vscode/\.ropeproject/

Offline01/\.vscode/

Offline01/Missionaries-and-Cannibals/outBFS\.txt

Offline01/Missionaries-and-Cannibals/outDFS\.txt
